.active {
  color: var(--primary-color);
  font-weight: 500;
  position: relative;
}
.active::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 4px;
  background-color: var(--primary-color);
  left: 50%;
  bottom: 0;
  border-radius: 2px;
}
